.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-style: normal;
  padding: 0;
  background-color: transparent;
  border: none;

  &--primary {
    color: $basic_white;
    background-color: $basic_green;
    padding: 11px 35px;

    @media (min-width: $tablet-width) {
      padding: 17px 25px;
    }
  }
}
