.case {
  background-color: $basic-grey_5;
  padding-top: 27px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    background: linear-gradient($basic-white 50%, $basic-grey_5 50% 100%);
  }
}

.case__demo {
  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}

.case__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
  }
}

.case__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.case__desc {
  padding: 0;
  margin: 0;
  font-family: $custom-font;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.case__cost {
  display: inline-flex;
  margin-bottom: 42px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.case__result {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}
