.catalog {
  &__item {
    position: relative;

    @media (min-width: $tablet-width) {
      background-color: $basic_grey;
    }

    &::before {
      @include line-pseudo-100vw($special_grey_3);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &:last-child {
      &::after {
        @include line-pseudo-100vw($special_grey, 100%, $height: 1px);

        @media (min-width: $tablet-width) {
          display: none;
        }
      }
    }
  }
}
