.controls {
  display: flex;
  align-items: center;
  padding: 24px 39px 0 44px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 47px 69px 0 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 0 0;
    margin-left: auto;
    max-width: 569px;
  }
}

.controls__scale {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 18px;
  height: 14px;
  background-color: $basic-white;
  border-radius: 6px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    height: 6px;
    border: none;
    background-color: $special_grey_4;
    justify-content: center;
    margin: 0 22px;
  }
}

.controls__thumb {
  margin: 0 5px;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    margin: 0;
    height: 34px;
    width: 34px;
    background-color: $basic_white;
    border: 1px solid $special_grey_4;
    border-radius: 50%;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic_green;
    }
  }

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  }

  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid $basic_green;
  }
}

.controls__button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $special_grey;

    &:hover {
      border-bottom: 1px solid $special_grey;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

.controls__button--before {
  left: -50px;
}

.controls__button--after {
  right: -50px;
}
