.form__item {
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--contacts,
  &--comments {
    @media (min-width: $desktop-width) {
      flex-grow: 1;
    }
  }

  &--addition {
    margin-bottom: 34px;
    position: relative;

    &::before {
      @include line-pseudo-50vw($basic_green, 14px, 2px);
    }

    @media (min-width: $tablet-width) {
      &::before {
        @media (min-width: $tablet-width) {
          @include line-pseudo-100vw($basic_green, 23px, 2px);
        }
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 1;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.form__item--bio {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 40px);
    margin-bottom: 0;
  }
}

.form__item--plan {
  padding: 20px 0;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    margin: 0 0 71px;
    border: 1px $special_grey_3 solid;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 23px 28px;
    width: calc(50% - 40px);
    border: 1px $special_grey_3 solid;
  }

  &::before {
    @include line-pseudo-100vw($special_grey_3);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    @include line-pseudo-100vw($special_grey_3, 100%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__item--contacts {
  padding-top: 23px;
  margin-bottom: 24px;
  position: relative;

  &::before {
    @include line-pseudo-50vw($basic_green, 38px, 2px);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    &::before {
      @media (min-width: $tablet-width) {
        @include line-pseudo-100vw($basic_green, 46px, 2px);
      }
    }
  }
}

.form__item--comments {
  position: relative;
  margin-bottom: 23px;

  &::before {
    @include line-pseudo-50vw($basic_green, 14px, 2px);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;

    &::before {
      @media (min-width: $tablet-width) {
        @include line-pseudo-100vw($basic_green, 23px, 2px);
      }
    }
  }
}

.form__group {
  @include list-reset;
}

.form__group--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 78px;
  }

  .form__field {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.form__group--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__title {
  margin: 0;
  margin-bottom: 35px;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  order: -1;
  margin-right: 12px;
  background-color: $basic_white;


  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin-left: -38px;
    margin-bottom: 76px;
    padding-left: 38px;
    padding-right: 38px;
    width: max-content;
  }
}

.form__title--contacts {
  max-width: 201px;

  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.form__title--comments {
  max-width: 145px;

  @media (min-width: $tablet-width) {
    max-width: 255px;
  }
}

.form__title--addition {
  max-width: 165px;

  @media (min-width: $tablet-width) {
    max-width: 280px;
    margin-bottom: 59px;
  }
}

.form__field {
  margin-bottom: 13px;
  color: $special_dark_grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__field.checkbox {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__note {
  font-family: $custom-font;
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;
  padding-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    text-align: left;
    padding-left: 81px;
  }
}

.form__button {
  width: 100%;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}
