.map {
  content: "";
  height: 362px;
  background-image: url("../img/location.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}
