.map {
  content: "";
  height: 362px;
  background-image: url("../img/location-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/location-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image: url("../img/location-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop@2x.png");
    }
  }
}
