.page-main {
  @media (min-width: $tablet-width) {
    overflow-x: hidden;
  }

  @media (min-width: $desktop-width) {
    &__banner {
      margin-bottom: 82px;
    }
  }

  &__programs {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 72px;
    }
  }

  &__features {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.page-main__banner {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 60px 0 526px;
  }

  @media (min-width: $desktop-width) {
    padding: 109px 0 267px;
  }
}
