.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  position: relative;
  background-color: $basic_grey;
  padding: 30px 20px 18px;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 27px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.program__title {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  padding: 0;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    position: absolute;
    top: 21px;
    left: 13px;
    content: "";
    display: block;
    width: 67px;
    height: 53px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}


.program--slim .program__title::before {
  background-image: url("../img/logo_program_slim.svg");

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.program--gain {
  & .program__desc {
    max-width: 342px;
  }
}

.program--gain .program__title::before {
  background-image: url("../img/logo_program_gain.svg");

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.program__desc {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid $special_grey_3;
  font-family: $custom-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 377px;
    padding-bottom: 0;
    margin-bottom: 48px;
    border-bottom: none;
  }
}

.program__link {

  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
  }
}
