.social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  &__item {
    margin-right: 26px;

    @media (min-width: $tablet-width) {
      margin-right: 23px;
    }

    &:nth-child(2) {
      @media (min-width: $tablet-width) {
        margin-right: 19px;
      }
    }


    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $special_grey_2;
    width: 30px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $basic_green;
    }

    &:active {
      opacity: 30%;
    }

    &--facebook {
      justify-content: flex-start;
    }
  }
}

.social__link--vkontakte svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram svg {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook svg {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}
