@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin line-pseudo-100vw($color, $top: 0, $height: 1px) {
  position: absolute;
  top: $top;
  height: $height;
  left: 50%;
  right: 50%;

  width: 101vw;
  margin-left: -51vw;
  margin-right: -50vw;

  content: "";

  background-color: $color;
}

@mixin line-pseudo-50vw($color, $top: 0, $height: 1px) {
  position: absolute;
  z-index: -1;
  top: $top;
  height: $height;
  left: 50%;
  right: 50%;

  width: 75vw;
  margin-right: -50vw;

  content: "";

  background-color: $color;
}

@mixin line-pseudo-88vw($color, $top: 0, $height: 1px) {
  position: absolute;
  top: $top;
  height: $height;
  left: 50%;
  right: 50%;

  width: 88vw;
  margin-left: -44vw;
  margin-right: -44vw;

  content: "";

  background-color: $color;
}
